Source: php-spojenet-ipex-b2b
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Build-Depends: debhelper-compat (= 13), pkg-php-tools (>= 1.7~), phpab, jq, moreutils
Standards-Version: 4.7.0
Homepage: https://github.com/Spoje-NET/ipex-b2b
Rules-Requires-Root: no

Package: php-spojenet-ipex-b2b
Architecture: all
Section: php
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}, php-curl
Suggests: ipex-b2b-doc
Description: PHP Based IPEX B2B RestAPI/Json library
 Allow you perform read and write operations on VoIP system IPEX

