#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_install:
	# Generate autoloader
	phpab --output src/IPEXB2B/autoload.php --basedir src/IPEXB2B src/IPEXB2B
	dh_install
	# Register with pkg-php-tools
	install -m0755 -d debian/php-spojenet-ipex-b2b/usr/share/pkg-php-tools/autoloaders
	echo 'deb ipexb2b IPEXB2B/autoload.php' > debian/php-spojenet-ipex-b2b/usr/share/pkg-php-tools/autoloaders/php-spojenet-ipex-b2b
	# Version stamp
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/composer.json |sponge debian/php-spojenet-ipex-b2b/usr/share/php/IPEXB2B/composer.json
